.kaufman__triangle{
  background-image:url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: 877px 877px;
  position: absolute;
  right:-210px;
  top: 0;
  animation: rotation 1 20s linear;
}
