.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
}

.logo_place_header{
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title{
  margin: auto;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 3;
}

.header__subtitle{
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  margin-top: 64px;
  right: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.content{

}

.description{
 margin-top: 100px;
 
}

.two-columns{
  padding: 100px 0 100px 0;
  margin: auto;
  display: flex;
  width: 80%;
  min-width: 784px;

  justify-content: space-between;

}
.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;


}

.two-columns__main-text{
 flex-direction: column;
 justify-content: end;
}
.two-columns__paragraph {
line-height: 34px;
font-size: 24px;
font-weight: normal;

}

.two-columns__paragraph:not(:first-of-type):not(:last-of-type){
  margin: 30px 0 30px 0;
}

.span-accent{
line-height: 34px;
font-size: 24px;
font-weight: 700;

}

.digits{

}

.feynman{

}

.kaufman{

}
